<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-lg-8 col-sm-20 col-xl-6">
      <h1>welcome to <b>Bookers</b>!!</h1>
      <p>In <b>Bookers,</b></br>
        you can share and exchange your opinions , inpressions , and emotions </br>
        about various books!</p>
      <div class="row mx-3">
        <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-block btn-sm" %>
      </div>
      <div class="row mx-3">
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-block btn-sm my-3" %>
      </div>
    </div>
  </div>
</div>